@{
    ViewBag.Title = "Support Project Hockey";
}

<h1>Support Project Hockey</h1>
<p>Project Hockey is a completely free platform to use for all leagues and participants. We made this stategic decision a few years back in order to minimize the barrier of entry for prospective league managers. Ultimately, we want as many people as possible to enjoy and experience our comprehensive stats website!</p>
<p>With that being said, we kindly ask our community that if you enjoy our platform, consider a small donation to help further the development of Project Hockey. Any amount is greatly appreciated and will directly help development of new features and pages for your league.</p>
<p>Sponsorships are also available for those looking to help even more. See details below.</p>
<p>Thank you to all our supporters.</p>
<p>- The Project Hockey Team</p>

<div class="half">
    <h2>Donate to Project Hockey</h2>
    <iframe src="https://donorbox.org/embed/project-hockey-donations" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
</div>
<div class="half">
    <h2>Become a Sponsor</h2>
    <p>Sponsorships are available for each league that plays in Project Hockey. As a sponsor your logo, image, or ad will replace the generic ads that run on the left side of all pages. Clicking your ad will then take players to your website.</p>
    <p>Pricing is based on how many teams are in a league:</p>
    <ul style="margin: 16px 0; list-style: disc; padding-left: 32px;">
        <li>Fall / full season: <strong>$40/team.</strong></li><li>Summer / half season: <strong>$25/team.</strong></li><li>Example: To sponsor a 10 team league for a Fall season would be 10 x 40 = <strong>$400 for the whole season</strong>.</li>
    </ul>
    <p>If you're interested in becoming a sponsor, please email <a target="_blank" href="mailto:support@project.hockey?subject=Project%20Hockey%20Sponsorship%20Details">support@project.hockey</a> and our team will help you get started.</p>
</div>



@section Scripts
{
    <script src="https://donorbox.org/widget.js" type="text/javascript"></script>
}