@{ 
    ViewBag.Title = "Change Password";
}

<h1>Change Password</h1>
<form method="post">
    <input type="hidden" name="profileId" value="@ViewBag.ProfileId">
    <fieldset>
        <label for="current">Current Password</label><input tabindex="1" type="password" name="current" required/>
    </fieldset>
    <fieldset>
        <label for="newPass">New Password</label><input tabindex="2" type="password" name="password" required/>
        <span class="instructions">Must be at least 8 characters.</span>
    </fieldset>
    <fieldset>
        <label for="confirm">Confirm New Password</label><input tabindex="3" type="password" name="confirm" required/>
    </fieldset>
    <fieldset>
        <button class="confirm" type="submit"tabindex="4">Change Password</button>
        <a class="button cancel" href="/profile/my-profile">Cancel</a>
    </fieldset>
</form>