@{
    Layout = "/Shared/_Master.cshtml";
    ViewBag.Title = "Forgot Password";
}

<form method="post">
    <fieldset>
        <p class="instructions">Enter your email to submit a forgot password request.</p>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" />
    </fieldset>
    <fieldset>
        <button type="submit" class="fill" tabindex="3">Forgot Password</button>
    </fieldset>
    <fieldset class="center">
        <a href="/profile/sign-in">Return to Sign In Page</a>
    </fieldset>
</form>
