@{
    Layout = "/Shared/_Master.cshtml";
    ViewBag.Title = "Reset Password";
}

@if (ViewBag.Invalid == null)
{
    <form action="/profile/reset-password" method="post">
        <input type="hidden" name="profileId" value="@ViewBag.ProfileId">
        <input type="hidden" name="email" value="@ViewBag.Email">
        <fieldset>
            <p class="instructions">Please enter your new password below.</p>
        </fieldset>
        <fieldset>
            <label>Email</label><span>@ViewBag.Email</span>
        </fieldset>
        <fieldset>
            <label for="password">New Password</label><input tabindex="1" type="password" name="password" />
            <span class="instructions">Must be at least 8 characters.</span>
        </fieldset>
        <fieldset>
            <label for="confirm">Confirm Password</label><input tabindex="2" type="password" name="confirm" />
        </fieldset>
        <fieldset>
            <button type="submit" class="fill" tabindex="3">Change Password</button>
        </fieldset>
        <fieldset class="center">
            <a href="/profile/sign-in">Cancel</a>
        </fieldset>
    </form>
}

else
{
    <a href="/profile/sign-in">Return to Sign In Page</a>
}
