<div class="modal">
    <div class="top">
        <h4></h4>
        <div class="close"></div>
    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="bottom right">
        <button type="button" class="cancel">Cancel</button>
    </div>
</div>