<div class="mobile-header">
    <a class="open-menu" href="#header">
        <img src="/img/icons/menu.svg" height="32" />
    </a>
    <a class="close-menu" href="#">
        <img src="/img/icons/close.svg" height="32" />
    </a>
    <img src="/img/project-hockey-light.svg" style="padding:8px;"/>
</div>
